#container{
    box-sizing: border-box;
    width: 600px;
}
canvas {
    border: 1px solid black;
}
input {
    border: 1px solid grey;
    width: 50px;
}
input[readonly] {
    border: 1px solid white;
}
.inputBoxes {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.inputBoxesRow {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
}
.inputBox{
    display: inline-block;
    width: 120px;
    white-space: nowrap;
}
.inputBox label {
    display: inline-block;
    width: 60px;
    text-align: right;
}
.buttonBox {
    width: 100px;
}
.layer.inputLayer, .layer.inputLayer.stateNotEditable input{
    border: 1px solid #5B6F9C;
    background-color: #acc6ee;
}

.layer.convLayer, .layer.convLayer.stateNotEditable input{
    border: 1px solid #679FAD;
    background-color: #acdbee;
}

.layer.reluLayer, .layer.reluLayer.stateNotEditable input{
    border: 1px solid #8C709E;
    background-color: #d4acee;
}

.layer.poolLayer, .layer.poolLayer.stateNotEditable input{
    border: 1px solid #AD7856;
    background-color: #F7AD83;
}

.layer.fcLayer, .layer.fcLayer.stateNotEditable input{
    border: 1px solid #CDD03F;
    background-color: #edeeac;
}

.layer.outputLayer, .layer.outputLayer.stateNotEditable input{
    border: 1px solid #5AAB50;
    background-color: #b3eeac;
}

/* button states */
.stateEditable button.layerOk {
    display: inline;
}
.stateEditable button.layerEdit, .noInputs button.layerEdit{
    display: none ! important;
}
.stateNotEditable button.layerOk {
    display: none;
}
.stateNotEditable button.layerEdit {
    display: inline;
}
.stateNotEditable button.layerEdit {
    display: inline;
}

#addButtons{
    display: flex;
    flex-direction: column;
}
.buttonRow{
    display: flex;
    flex-direction: row;
}
#addButtons button{
    flex: 1;
    margin: 2px 5px;
}
.layer{
    font-size: 12px;
    font-family: sans-serif;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    min-height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.layerLabel {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

#stats{
    border: 1px solid grey;
    border-radius: 3px;
    font-family: monospace;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0;
}

#stats pre {
    margin: 4px 0;
}

.infoBox{
    justify-content: center;
    margin-top: 4px;
}