canvas {
    border: 1px solid black;
}
input {
    border: 1px solid grey;
    width: 50px;
}
input[readonly] {
    border: 1px solid white;
}
.inputBox{
    display: inline-block;
    width: 130px;
}
.inputBox label {
    display: inline-block;
    width: 70px;
    text-align: right;
}
.buttonBox{
    float: right;
}

/* button states */
.stateEditable button.layerOk {
    display: inline;
}
.stateEditable.noInputs button.layerOk {
    display: none;
}
.stateEditable button.layerEdit {
    display: none;
}
.stateNotEditable button.layerOk {
    display: none;
}
.stateNotEditable button.layerEdit {
    display: inline;
}
.stateNotEditable.noInputs button.layerEdit {
    display: none;
}

.layer{
    font-size: 12px;
    font-family: sans-serif;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 600px;
    height: 30px;
}

.layerLabel {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}